@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin flex-left {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}
