$primary-color: #633cff;
$secondary-color: #beadff;
$light-purple: #efebff;
$dark-grey: #333333;
$medium-grey: #737373;
$light-grey: #d9d9d9;
$lighter-grey: #fafafa;
$white: #ffffff;
$red: #ff3939;

$font-family: 'Instrument Sans', sans-serif;

$heading-m-font-size: 3.2rem;
$heading-m-font-weight: bold;
$heading-m-line-height: 150%;

$heading-s-font-size: 1.6rem;
$heading-s-font-weight: bold;
$heading-s-line-height: 150%;

$body-m-font-size: 1.6rem;
$body-m-font-weight: regular;
$body-m-line-height: 150%;

$body-s-font-size: 1.2rem;
$body-s-font-weight: regular;
$body-s-line-height: 150%;
