@use './variables' as *;
@use 'mixins';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.2s linear;
}

html {
  font-size: 62.5%;
}

body {
  font-family: $font-family;
  background-color: $lighter-grey;
}

h1 {
  font-size: $heading-m-font-size;
  font-weight: $heading-m-font-weight;
  line-height: $heading-m-line-height;
  color: $dark-grey;

  @media (width <= 730px) {
    font-size: 2.4rem;
  }
}

h2 {
  font-size: $heading-s-font-size;
  font-weight: $heading-s-font-weight;
  line-height: $heading-s-line-height;
}

p {
  &.body-m {
    font-size: $body-m-font-size;
    font-weight: $body-m-font-weight;
    line-height: $body-m-line-height;
  }

  &.body-s {
    font-size: $body-s-font-size;
    font-weight: $body-s-font-weight;
    line-height: $body-s-line-height;
  }
}

/* Shared Styles */
.submit-btn {
  position: relative;
  padding: 1.1rem 2.7rem;
  border: none;
  border-radius: 0.8rem;
  background-color: $primary-color;
  color: $white;
  font-size: $heading-s-font-size;
  cursor: pointer;
  transition: background-color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;

  &.loading {
    pointer-events: none;
  }

  &.loading::after {
    content: '';
    position: absolute;
    width: 2rem;
    height: 2rem;

    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #ffffff;
    border-right-color: #ffffff;
    animation: spin 1s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

.submit-btn:hover {
  background-color: $secondary-color;
}

.submit-btn:disabled {
  background-color: $secondary-color;
}

input {
  caret-color: $primary-color;
  outline: none;
}

.error {
  color: $red;
}

.authError {
  text-align: center;
  padding-top: 1rem;
}

.secondary-btn {
  border-radius: 0.8rem;
  padding: 1.1rem 2.7rem;
  border: 1px solid $primary-color;
  color: $primary-color;
  font-size: $heading-s-font-size;
  font-weight: $heading-s-font-weight;
  line-height: $heading-s-line-height;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;

  &:hover {
    background-color: $light-purple;
  }
}

.secondary-btn:disabled {
  background-color: $light-grey;
  border-color: $light-grey;
  color: $medium-grey;
  cursor: not-allowed;
}

fieldset {
  border: none;
}

button {
  border: none;
  cursor: pointer;
}
