@use '../../styles/variables' as *;
@use '../../styles/mixins' as mixins;

.navbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: $white;
  padding: 1.6rem 2.4rem;
  border-radius: 1.2rem;

  .logo {
    width: 14rem;
    height: 3rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('../../assets/logo-devlinks-large.svg');

    @media (width <= 730px) {
      width: 3rem;
      background-image: url('../../assets/logo-devlinks-small.svg');
    }
  }
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 1.6rem;

  @media (width <= 730px) {
    gap: 1rem;
  }

  &__item {
    display: flex;
    gap: 0.8rem;
    align-items: center;
    padding: 1.1rem 2.7rem;
    border-radius: 0.8rem;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $light-purple;
    }

    h2 {
      @media (width <= 730px) {
        display: none;
      }
    }

    .nav-icon,
    h2 {
      color: $medium-grey;
    }

    &-active > .nav-icon,
    &-active > h2 {
      color: $primary-color;
    }

    &-active {
      background-color: $light-purple;
    }
  }
}

.navbar-actions {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;

  .preview-icon {
    background-image: url('../../assets/icon-preview-header.svg');
    width: 2rem;
    height: 2rem;
    padding: 2rem;
    background-repeat: no-repeat;
    background-position: center;
    border: 1px solid $primary-color;
    border-radius: 0.8rem;
    display: none;

    @media (width <= 730px) {
      display: block;
    }
  }

  .secondary-btn {
    @media (width <= 730px) {
      display: none;
    }
  }
}
.signout-icon {
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  color: $primary-color;
  outline: none;
  transition: color 0.3s;

  &:hover {
    color: $secondary-color;
  }
}
